/* Landing Page */
.row1{
  padding-bottom: 2%;
}
.mobile-landing{
  display: none;
}
.section-title h2 {
    color: black;
}
#hero .home-content {
    width: 90%;
    height: 110%;
}
#hero .landing{
  font-size: 22px;
}
#hero .education1 {
    border: 2px solid #862428;
}
#hero .education1:hover {
    background: #862428;
}
#hero .landing-sports{
  margin-top: 40%;
}
.navbar a:hover, .navbar .active, .navbar li:hover > a {
    opacity: 0.6;
    color: black;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  opacity: 0.6;
  color: black;
}
.navbar .dropdown ul {
    border-top: 2px solid black;
}
/* Education Page */
#hero .education-slider{
  border-top: 5px solid #862428;
}
.moreText{
  display: none;
}
.text.show-more .moreText{
  display: inline;
}
.text.show-more .dots{
  display: none;
}
#hero .education {
    padding: 10px 40px;
    background-color: #862428;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
#hero .education-button{
  border: 2px solid #862428;
}
#hero .education-button:hover {
    background: #862428;
}
#hero .education-indicators li.active {
    background: #862428;
}
.education-title h2::after {
    background: #862428;
}
.about-us .education-content ul i {
    color: #862428;
}
.services .icon-box {
    padding: 30px 20px 30px 20px;
    margin: 20px 0;
}
.services .icon-box .icon-d {
    margin: 0 auto;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}
[data-aos^=zoom][data-aos^=zoom].aos-animate {
    transform: translateZ(0) scale(0.95);
}
.clients .education-logo img {
    height: 135px;
    filter: grayscale(0%);
}
/* Sports Page */
#hero .sports-slider {
    border-top: 5px solid #1bbd36;
    padding: 20px;
    width: 70%;
}
#hero .sports {
    padding: 10px 40px;
    background-color: #1bbd36;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
#header{
  padding: 10px 0 0;
}
#header .logo img {
    max-height: 60px;
}

.line{
  border:1px solid #ccc;
    padding-top:67px;
}
.login_bottom{
  width:45%;

  border:1px solid #ccc;
  padding:40px;
}
.login_top{
  width:45%;
  border:1px solid #ccc;
  padding-top:50px;
  padding-bottom:50px;
}
.blog{
  border:1px solid #ccc;
  padding:9% 0 5% 0;
}
.pricing h3 {
    font-size: 250%;
    color: #fff;
    background: black;
}
.pricing ul li {
    color: #fff;

}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: 0.25rem;
    opacity:1;
    margin-bottom: 5%;
    border-radius: 20px;
}
.card-img {
    width: 100%;
    border-radius: calc(20px);
}
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: 0.75rem;
    text-align: center;
    font-weight: 900;
}
.card-text p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.breadcrumbs {
    background: #1e1e1e;
    margin-bottom: 2%;
}
#footer .footer-top .footer-links ul i {
    color: white;
}
.back-to-top {
    background: #212529;
}
.back-to-top:hover{
  background: black;
}
#footer .social-links a:hover {
    background: #111;
}

.contact .info i {
    color: black;
    border: 1px solid black;
}
.contact .info:hover i {
    background: black;
}
.btn-contact {
    background-color: black;
    border-color: black;
}
.btn-contact:hover {
    background-color: black;
    border-color: black;
}
.whatsapp_float{
  position: fixed;
  bottom: 50%;
  right: 1%;
  z-index: 2;
}
.form_float{
  position: fixed;
  bottom: 42%;
  right: 1%;
  z-index: 2;
}
.popup .overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  display: none;
}
.popup .content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 550px;
  height: 420px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;

}
.popup .close-btn{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.popup.active .overlay{
  display: block;
}
.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
.enquiry {
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
}
.enquiry-content .education{
  padding: 10px 40px;
  background-color: #fff;
  border: 2px solid #862428;
  outline: none;
  font-size: 17px;
  cursor: pointer;
  color: #862428;
  margin-top:1%;
  font-weight: 800;
}
.enquiry-content .education:hover{
  background-color: #862428;
  color: #fff;
  border: 2px solid #862428;
}
.enquiry-content .sports{
  padding: 10px 40px;
  background-color: #fff;
  border: 2px solid #1bbd36;
  outline: none;
  font-size: 17px;
  cursor: pointer;
  color: #1bbd36;
  margin-top:1%;
  font-weight: 800;
}
.enquiry-content .sports:hover{
  background-color: #1bbd36;
  border: 2px solid #1bbd36;
  color: #fff;
}
.branding21.formFooter {
    font-family: "Circular Std",sans-serif;
    background-color: #0A1551;
    display: none;
}
.img-fluid1{
  border-radius: 50%;
}
.privateh3 h3{
  font-weight: 600;
  color: black;
}
.adults{
  justify-content: center;
}
.card-title {
    font-size: 250%;
}
.pricing ul li {
    font-size: 140%;
}
.padding{
  padding: 8% 0;
}
.TC h1{
  color: black;
  font-weight: 600;
  font-size: 150%;
}
.TC p{
  font-size: 80%;
}
.blog h1{
text-align: center;
font-size: 600%;
font-weight: 600;
color: black;
font-family: 'Pushster', cursive;
}
.packages a{
  color: white;
}
.packages a:hover{
  color: #1bbd36;
}
section{
  padding: 60px 0 0 0;
}
.iconbox-blue1{
  color: #47aeff;
}
.iconbox-orange1{
  color: #ffa76e;
}
.iconbox-pink1{
  color: #e80368;
}
.iconbox-yellow1{
  color: #ffbb2c;
}
.iconbox-red1{
  color: #ff5828;
}
.iconbox-teal1{
  color: #11dbcf;
}
.services .icon-box h4 {
  color: black;
}
.testimonials .testimonial-item {
margin-bottom: 4%;
}
/* Section brand */
#brand{
  padding-bottom: 3rem;
}

.img-brand {
  width: 300px;
  height: 200px;
  animation: scroll 60s linear infinite;
  border: 2px solid grey;
  border-radius: 50px;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 1em;
  overflow: hidden;
}

.slider-brand {

  padding: 0em 2em;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}

.clients .client-logo {
  height: 200px;
  }