@media only screen and (max-width : 550px) {
  .line{
  border:1px solid #ccc;
    padding-top:56px;
}
.login_bottom{
  width:90%;

  border:1px solid #ccc;
  padding:40px;
}
.login_top{
  width:90%;
  border:1px solid #ccc;
  padding-top:50px;
  padding-bottom:50px;
}
.desktop-landing{
  display: none ;
}
.mobile-landing{
  display: flex;
  background-color: black;
}
.top{
  padding-top:18%;
  }

#hero {
    height: 50vh;
}
#hero .education {
    font-size: 12px;
}
#hero .carousel-container {
    bottom: 1%;
    top: 2%;
    left: 2%;
    right: 2%;
}
#hero .carousel-content h2 {
    font-size: 20px;
}
#hero .carousel-content p {
    font-size: 9px;
}
.section-title h2 {
    font-size: 28px;
}
section {
    padding: 0px 0;
}
.about-us .content h2 {
    font-size: 28px;
    margin-bottom: 0px;
}
.about-us .content h3 {
    font-weight: 500;
    line-height: 25px;
    font-size: 22px;
}
#hero .sports-slider {
    width: 100%;
}
.services .icon-box {
    padding: 0px;
}
.services .icon-box .icon-d {
    width: 180px;
}
.services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 16px;
}
.carousel-content {
    background: rgba(4, 4, 4, 0.7);
    padding: 10px 20px 20px 20px;
    color: #fff;
    border-top: 2px solid #1bbd36;
}
.carousel-content h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.carousel-content p {
    font-size: 11px;
}
.btn-get-started {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    margin: 0px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid black;
    background-color: #1bbd36;
}
a:hover {
    color: black;
}
.landing{
  font-size: 14px;
}
.education-slider{
  border-top: 5px solid #862428;
}
.education {
    padding: 10px 40px;
    background-color: #862428;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.popup .content {
    width: 350px;
    height: 420px;
    padding: 10px;

}
}
