{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Packages
{% endblock %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Packages</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Packages</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 col-md-6 ">


              <div class="card bg-dark text-white">
  <a class="lightbox-213171587373459"><img class="card-img" src="{% static 'img/packagebg.jpg'%}" alt="Card image">
  <div class="card-img-overlay">
    <h1 class="card-title card-title1">Group</h1>
    <p class="card-text"><ul>
      <li>Monthly 6K</li>
      <li>Quaterly 14K</li>
      <li>Half Yearly 25K</li>
      <li>Yearly 45K</li>
    </ul></p>
    <script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script><script type="text/javascript">
            var JFL_213171587373459 = new JotformFeedback({
              formId: '213171587373459',
              base: 'https://form.jotform.com/',
              windowTitle: 'Appointment Slot',
              background: '#FFA500',
              fontColor: '#FFFFFF',
              type: '0',
              height: 500,
              width: 700,
              openOnLoad: false
            });
        </script>

  </div></a>
</div>


          </div>

          <div class="col-lg-6 col-md-6 ">

            <a href="{% url 'private' %}"><div class="card bg-dark text-white">
  <img class="card-img" src="{% static 'img/packagebg.jpg'%}" alt="Card image">
  <div class="card-img-overlay">
    <h1 class="card-title card-title1">Private</h1>
    <p class="card-text"><ul>
      <li>One Hour 1500</li>
      <li>10 Classes 12K</li>
      <li>Monthly 25K</li>
      <li>Quaterly 60K</li>
      <li>Half Yearly 90K</li>
      <li>Yearly 1.5L</li>
    </ul></p>
    </div> </a>
  </div>
</div>


          </div>



        </div>

      </div>
    </section><!-- End Pricing Section -->
    {% endblock %}
