{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Packages
{% endblock %}
{% block style%}
<style media="screen">
  table, th, td {
  border: 2px solid white;
}
table{
  width: 100%;
text-align: center;
}
</style>
{% endblock %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Packages</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Packages</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

<!-- End Pricing Section -->
<section id= "private">

<div class="section-title">
  <h2>Packages</h2>
</div>
<div class="container">
  <div style="justify-content: center;" class="row">
    <div class="col-lg-3 col-md-3 col-6 d-flex align-items-stretch">
      <div class="member" >
        <div class="member-img1">
          <a href="{% url 'gurugram'%}"><img src="{% static 'img/packages/guru.jpeg'%} " class="img-fluid1 img-fluid" alt=""></a>
        </div>
        <div class="text-center privateh3">
          <h3>Gurugram</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-6 d-flex align-items-stretch">
      <div class="member" >
        <div class="member-img1">
          <a href="{% url 'delhi'%}"><img src="{% static 'img/packages/bg.jpg'%} " class="img-fluid1 img-fluid" alt=""></a>
        </div>
        <div class="text-center privateh3">
          <h3>Delhi</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-6 d-flex align-items-stretch">
      <div class="member" >
        <div class="member-img1">
          <a href="{% url 'muza'%}"><img src="{% static 'img/packages/muza2.jpeg'%} " class="img-fluid1 img-fluid" alt=""></a>
        </div>
        <div class="text-center privateh3">
          <h3>Muzaffarnagar</h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-6 d-flex align-items-stretch">
      <div class="member" >
        <div class="member-img1">
          <a href="{% url 'spain'%}"><img src="{% static 'img/packages/spain.jpeg'%} " class="img-fluid1 img-fluid" alt=""></a>
        </div>
        <div class="text-center privateh3">
          <h3>Spain</h3>
        </div>
      </div>
    </div>

  </div>
</div>
</section><br><br><br>






{%endblock%}
