{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Testimonials
{% endblock %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Testimonials</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Testimonials</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->



    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-6 " >
            <div class="testimonial-item">
              <img src="{% static 'img/testimonials/t1.jpg'%} " class="testimonial-img" alt="">
              <h3>Uru Dev Singh</h3>
              <h4></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                An amazing experience with the most hard working and dedicated team of coaches I have ever had the pleasure to work with. Really transformed my game and taught me a lot about the game of tennis, I will never forget. The whole day was perfectly planned out to get the best out of you with drills, exercises, mental training, new fun ways of learning and overall a very diverse experience full of easy going interactive trips to tournaments. Best 3 months of my life.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6 " >
            <div class="testimonial-item mt-4 mt-lg-0">
              <img src="{% static 'img/testimonials/t2.jpg'%}" class="testimonial-img" alt="">
              <h3>Tanmay Sharma</h3>
              <h4></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Bahot acha experience tha aur best tennis dekha humne waha and coaching schedules world class tha aur coaches bahot humble aur helpful the and tournaments khelne ko milte the hr weekend paise milte the nationals tournaments bhi hote the...friends ke saath bahot acha time spend hua and confidence level bahot high ho gya waha reh kr us atmosphere mei.
              </p>
            </div>
          </div>

          <div class="col-lg-6" >
            <div class="testimonial-item mt-4">
              <img src="{% static 'img/testimonials/t3.jpg'%}" class="testimonial-img" alt="">
              <h3>Yash Vardhan Singh</h3>
              <h4></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 Well, it’s tough to share my experience as I had the best time of my life here in Germany. I had a lot of fun on and off court. I could feel that I was on the top of my game as I was free mentally as well. I was far away from all the problems that I used to face in India. I got the opportunity here to focus only on my tennis and not other things ,which consume a lot of time ,like travelling. I was able to improve a lot. I also visited many countries apart for Germany. All in all, it was such a great experience. I will continue to train here. It’s my second year here already. It feels home now.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" >
            <div class="testimonial-item mt-4">
              <img src="{% static 'img/testimonials/t4.jpg'%}" class="testimonial-img" alt="">
              <h3>Kanav Kashyap</h3>
              <h4></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Hi my name is kanav Kashyap. I would like to thank Arnav for helping me in finding the perfect tennis academy for me. The academy has all the necessary facilities for a player and enough indoor and outdoor courts. They made sure that no session is missed due to bad weather or something. They helped me improved a lot specially my backhand. I was getting personal attention every day. Also, I was able to play tournaments every week which was a major benefit of coming to Germany.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" >
            <div class="testimonial-item mt-4">
              <img src="{% static 'img/testimonials/t5.jpg'%}" class="testimonial-img" alt="">
              <h3>Kanishk Handa</h3>
              <h4></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Hi! I am Kanishk Kumar Handa from New Delhi, India. I am here in Rafa Nadal Academy. It was a really good experience to train here because the facilities are super amazing and everything thing is really good here, including the team of coaches. I really wanted to thank the whole team of Thirty40 for helping me and guiding me down the right path. This is a very good initiative to help pro players in finding a suitable academy. I want to congratulate the whole team of Thirty40 on this. Their consultancy helps with both tennis and education.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>


          <div class="col-lg-6" >
            <div class="testimonial-item mt-4">
              <img src="{% static 'img/testimonials/t7.jpg'%}" class="testimonial-img" alt="">
              <h3>Ojas Rathee</h3>
              <h4></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Hi. My name is Ojas Rathee. My aim is to become the best tennis player, I can be. For the first time in 2017 I realized that Germany is the best country to be in. I would like to thank Thirty40 for guiding me and helping me to know what all is required to become a pro. They sent me to the right place where I can practice and play tournaments without any problems. The training conditions here in Germany are world class and I can’t ask for better infrastructure. I am happy that I am here. It feels really good. Thank you.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
  {% endblock %}
